html,
body {
  height: 100%;
}

body {
  right: 0;
  left: 0;
  position: relative;
  transition: right .35s ease,left .35s ease;
}
body.modal-open {
  right: 0px;
  left:  0px;
}

.sidenav {
  width: 200px;
  height: auto;
  position: fixed;
  z-index: 1030;
  top: 0;
  background: #000c;
  font-family: 'Oswald', sans-serif !important ;
  bottom: 0;
  overflow-y: auto;
  left: auto;
  right: -200px;
  transition: right .35s ease;
  display: block !important;
}
body.modal-open .sidenav {
  right: 0;
}

body > .container {
  overflow-x: scroll;
  position: absolute;
  top: 54px;
  right: 0;
  left: 0;
  bottom: 0;
}
